@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p{
    line-height: 25px !important;
}



/*! CSS WEBSITE START*/

.logo-image {
    width: 250px;
    margin: 0 150px 0 0;
}

ul li.nav-item {
    margin-right: 30px;
}

a.nav-link.active {
    background-color: #18C965;
    border-radius: 30px;
    padding: 10px 0;
}

li.nav-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
}

#beranda {
    padding: 100px 0 0 0;
}


#beranda .col-7 h3.welcome {
    font-size: 24px;
    color: #18C965;
    margin: 35px 0;
}

#beranda .col-7 h1.title-banner {
    font-size: 48px;
    font-weight: bolder;
    color: #1E1E1E;
    margin: 35px 0;
}

#beranda .col-7 h3.slogan {
    font-size: 24px;
    color: #000000;
    margin: 35px 0;
}

#beranda .col-5 img.image-banner {
    width: 600px;
    background-color: transparent;
    position: relative;
    right: 100px;
}

#beranda button.btn-beranda {
    background-color: #18C965;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 200px;
}

#profile-2 {
    padding: 200px 0 0 0;

}

#profile-2 img {
    width: 300px;
    position: relative;
    left: 150px;
}

#profile-2 h1 {
    font-size: 36px;
    color: #1e1e1e;
    font-weight: bold;
    text-align: center;
    width: 85%;
}

#profile-2 p {
    font-size: 20px;
    color: black;
    text-align: justify;
    width: 85%;
    margin: 30px 0;
}

#profile-2 p.visi {
    font-size: 16px;
    color: black;
    text-align: justify;
    width: 105% !important;
    margin: 0 0 20px 0 !important;
}

#profile-2 ol li {
    font-size: 16px;
    color: black;
    text-align: justify;
    width: 105% !important;
    list-style: disc;
}

#profile-2 .left-1 {
    position: relative;
    top: 20px;
    left: 150px;
    width: fit-content;
}

#profile-2 .left-2 {
    position: relative;
    top: 110px;
    left: 150px;
    width: fit-content;
}

#profile-2 .right-1 {
    position: relative;
    right: 130px;
}

#profile-2 .right-2 {
    position: relative;
    right: 130px;
    top: 110px;
}

#profile-2 h2 {
    font-size: 20px;
    color: #000;
}

#profile-2 .line {
    position: absolute;
    left: 480px;
}


#profile {
    padding: 200px 0 0 0;

}

#profile img {
    width: 450px;
    position: relative;
    left: 150px;
}

#profile h1 {
    font-size: 36px;
    color: #1e1e1e;
    font-weight: bold;
    text-align: center;
    width: 85%;
}

#profile p {
    font-size: 20px;
    color: black;
    text-align: justify;
    width: 85%;
    margin: 30px 0;
}

#profile button.btn-profile {
    background-color: #18C965;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 200px;
}


#cara-penggunaan {
    padding: 200px 0 0 0;
}

.youtube-video {
    border-radius: 20px;
}

#cara-penggunaan h1 {
    font-size: 36px;
    color: #1e1e1e;
    font-weight: bold;
    text-align: end;
    width: 85%;
}

#cara-penggunaan p {
    font-size: 20px;
    color: black;
    text-align: justify;
    width: 85%;
    margin: 30px 0;
}

#cara-penggunaan .col.text {
    position: relative;
    left: 50px;
}


#dokumentasi {
    padding: 200px 0;
}

#dokumentasi h1.title {
    font-size: 36px;
    color: #1e1e1e;
    font-weight: bold;
    text-align: center;
}

#dokumentasi p.deskripsi {
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 30px 120px 0 120px;
}

.item {
    opacity: 1;
    margin: 0 0px;
    transform: scale(.6);
    transition: 1s ease all;
    height: 300px;
}

@media(max-width:1000px) {
    .item {
        margin: 0;
        transform: scale(.9);
        transition: 1s ease all;
    }
}

.active .item {
    opacity: 1;
    transform: scale(1.2);
    /* position: relative; */
    /* top: 150px; */
    margin-top: 50px;
    transition: 1s ease all;
}

.item.black img {
    width: 300px !important;
    position: relative;
    left: 270px;

}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* -webkit-transform: translate3d(0, 0, 0); */
    height: 500px;
    /* background-color: aqua; */
    transition: 1s ease all;
    padding: 20px 0;
}

.inner {
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
}

.inner a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 1s ease all;
}

.inner a:hover {
    border-color: #fff;
}

.black .inner a {
    color: #000;
    border-color: rgba(0, 0, 0, 0.4)
}

.black .inner a:hover {
    border-color: #000;
}

.owl-controls {
    position: absolute;
    margin-top: 500px;
}

.inner h2 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: .9em;
}

.inner h3 {
    padding: 0 15px;
    line-height: normal;
    font-size: 23px;
    letter-spacing: .5px;
}

.owl-nav {
    font-size: 60px;
    color: #fff;
}

.owl-prev {
    position: absolute;
    top: 40%;
    left: 15px;
}

.owl-next {
    position: absolute;
    top: 40%;
    right: 15px;
}

@media only screen and (max-width: 767px) {
    .inner h2 {
        font-size: 15px;
    }

    .inner h3 {
        padding: 0 5px;
        font-size: 14px;
    }
}


#word {
    background-color: #18C965;
    height: 350px;
    position: relative;
    bottom: 200px;
}

#word h1 {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



#footer img {
    width: 210px;
}

#footer .col h3 {
    font-size: 16;
    color: black;
    text-align: center;
    width: 40%;
    margin: 20px 0;
}

#footer {
    margin-bottom: 30px;
    width: 100%;
}

#footer .col-right {
    margin-left: 300px;
}

#footer .col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .col-left p {
    font-size: 10px;
    color: #ababab;
}

#footer .kontak a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

#footer .kontak h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

#footer .kontak p {
    margin-bottom: 3px;
}

#footer .dukung {
    margin-top: 50px;
}

#footer .dukung h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#footer .dukung h4 {
    font-size: 12px;
    margin: 2px 0;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    #beranda .col-5 img.image-banner {
        width: 100px;
        background-color: transparent;
        position: relative;
        left: 10px;
    }

    #profile img {
        width: 100px;
        position: relative;
        left: 150px;
    }

    #cara-penggunaan .container.d-flex {
        flex-direction: column;
    }

    #footer.container.d-flex {
        flex-direction: column;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .logo-image {
        width: 100px;
        /* margin: 0 150px 0 0; */
    }

    /* .navbar{
        width: fit-content;
    } */

    .navbar .container {
        display: inline;
        width: fit-content;
    }

    .navbar .nav-item {
        display: flex;
        justify-content: center;
        margin: 0px !important;
    }

    #cara-penggunaan .col.text {
        position: relative;
        left: 0px;
    }

    #beranda .col-5 {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    #beranda .col-7 {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }

    #beranda .col-7 h1.title-banner {
        font-size: 30px;
    }

    #beranda .col-7 h3 {
        font-size: 15px !important;
    }

    #beranda .btn {
        /* font-size: 15px !important; */
        width: 360px !important;
        margin-top: 30px;
    }

    #beranda .col-7 h1.title-banner,
    #beranda .col-7 h3 {
        margin: 10px 15px !important;
    }

    #beranda .col-5 img.image-banner {
        width: 250px;
        background-color: transparent;
        left: 0px;
        align-items: center;
    }

    #beranda .d-flex {
        flex-direction: column-reverse;
        /* padding: 50px 0 0 0; */
    }

    #profile {
        padding: 50px 0 0 0 !important;
    }

    #profile .col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profile .d-flex {
        flex-direction: column-reverse;
        padding: 50px 0 0 0;
    }

    #profile img {
        width: 250px;
        position: unset;
    }

    #profile h1 {
        margin-top: 30px;
    }

    #profile p,
    #profile h1 {
        width: 100% !important;
        padding: 0 10px !important;
    }

    #profile .btn {
        /* font-size: 15px !important; */
        width: 360px !important;
        /* margin-top: 30px; */
    }


    #cara-penggunaan{
        padding:50px 0 0 0 !important;
    }


    #cara-penggunaan .container.d-flex {
        flex-direction: column;
    }

    .youtube-video {
        width: 100%;
    }

    #cara-penggunaan .text h1,
    #cara-penggunaan .text p{
        width: 100%;
    }

    #dokumentasi{
        padding:50px 0 0 0 !important;
    }
    
    #dokumentasi p.deskripsi {
        margin: 0px !important;
        padding: 10px;
    }

    #word {
        bottom: 0px !important;
    }  
    
    #word h1{
       font-size: 25px;
    }

    #footer{
        padding: 50px 0 0 0 !important;
    }


    #footer.container.d-flex {
        flex-direction: column-reverse;
    }

    #footer .col-right {
        margin-left: 0px;
        margin-bottom: 30px;
        text-align: center;
    }

    #footer .sosmed .d-flex{
        justify-content: center;
    }


}


/*! CSS WEBSITE END*/